@font-face {
  font-family: QueenFont;
  src: url(../font/Baskerville.ttf);
}
div > span{
	font-size: 2em;
	color: red;
	font-family: QueenFont;
}
canvas{
	margin:auto;
	padding: 0.2em;
	border: 0.1em double black;
}
.main{
	background-color: yellow;
	border:0.25em solid black;
	border-radius: 0.8em;
	padding: 1em;
	background-color: white;
	width:-webkit-fit-content;
	height: -webkit-fit-content;
	margin: auto;
}
body{
	background-color: #939393;
}
.buttons{
	height: 2.6em;
	border-radius:0.8em;
	background: white;
	display: table;
	margin: 0 auto;
}

.buttonStyle{
	background: #4f8aff;
	border: 0.2em double black;
	border-radius: 0.5em;
	margin: 0.2em;
	font-size: 1.3em;
	float: left;
	font-family: QueenFont;
}
select{
	border: 0.2em double black;
	background-color: #939393;
	border-radius: 0.25em;
	font-size: 1.1em;
	float: left;
	margin-top: 0.4em;
	font-family: QueenFont;
}